## Lambda Function

### syntax
function_name = lambda expression

In [2]:
#lambda expression for performing square of input
lmbd_exmp =lambda x: x**2

In [3]:
lmbd_exmp(5)

25

In [4]:
#lambda expression for making string in upper case
lmbd_exmp2=lambda x: x.upper()

In [5]:
lmbd_exmp2('smith')

'SMITH'

In [6]:
#lambda expression for printing value 0 to n-1
lmbd_exmp3=lambda x: [i for i in range(0,x)]

In [7]:
lmbd_exmp3(3)

[0, 1, 2]

#map() function
It returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

## Syntax
map(fun, *iter)

## Parameters
fun : It is a function to which map passes each element of given iterable.

iter : It is a iterable which is to be mapped.

### map example-1


input: [1,2,3,4,5,6]

output: ['odd', 'even', 'odd', 'even', 'odd', 'even']

In [8]:
l= [1,2,3,4,5,6]
print(list(map(lambda x: "even" if x%2==0 else "odd",l)))

['odd', 'even', 'odd', 'even', 'odd', 'even']

### map example-2


input: ['apple', 'banana', 'mango']

output: ['APPLE', 'BANANA', 'MANGO']

In [9]:
fruits = ['apple', 'banana', 'mango']
print(list(map(str.upper,fruits)))

['APPLE', 'BANANA', 'MANGO']

In [10]:
fruits = ['apple', 'banana', 'mango']
print(list(map(lambda x: x.upper(),fruits)))

['APPLE', 'BANANA', 'MANGO']

### map example-3


input: number1 = [1,2,3,4,5,6],number2 = [1,2,3,4,5]

output: [1, 4, 9, 16, 25]

In [11]:
number1 = [1,2,3,4,5,6]
number2 = [1,2,3,4,5]
print(list(map(lambda x,y: x*y, number1,number2)))

[1, 4, 9, 16, 25]

# filter() function

## syntax 
filter(function, sequence)

##Parameters:
function: function that tests if each element of a 
sequence true or not.

sequence: sequence which needs to be filtered, it can 
be sets, lists, tuples, or containers of any iterators.
Returns:

returns an iterator that is already filtered.

### filter example-1
Task to print odd numbers from list

input: [1,2,3,4,5,6]

output: [1, 3, 5]

In [12]:
emp= [1,2,3,4,5,6]
list(filter(lambda x : x%2!=0,emp))

[1, 3, 5]

### filter example-2
Task to print palindrome from list

input: ['radar','madam','rewire','1331']

output: ['radar', 'madam', '1331']

In [13]:
names = ['radar','madam','rewire','1331']

list(filter(lambda x:x==x[::-1],names))

['radar', 'madam', '1331']

### filter example-3
Task to print elements greater than 3 from input list
input: [1,2,3,4,5,6]

output: [4, 5, 6]

In [14]:
list_exm= [1,2,3,4,5,6]
list(filter(lambda x: x>3,list_exm))

[4, 5, 6]

#reduce() function
Syntax : reduce(fun,seq)

it is used to apply a particular function passed in its argument to all of the list elements mentioned in the sequence passed along.This function is defined in “functools” module.

Working : 

At first step, first two elements of sequence are picked and the result is obtained.
Next step is to apply the same function to the previously attained result and the number just succeeding the second element and the result is again stored.
This process continues till no more elements are left in the container.
The final returned result is returned and printed on console.

###example-1

concatenate character to single word

l= ['r','a','d','a','r']

output : 'radar'

In [15]:
from functools import reduce
l= ['r','a','d','a','r']
reduce(lambda x,y: x+y,l)

'radar'

###example-2

print highest number form the list

l= [1,2,3,4,5]

output : 5

In [16]:
l= [1,2,3,4,5]
reduce(lambda x,y: x if x>y else y,l)

5

###example-3

print summation of the list

numbers = [1,2,3,4,5]

output : 15

In [17]:
from functools import reduce
import operator

numbers = [1,2,3,4,5]
result = reduce(operator.add,numbers)
print(result)

15

###example-3

print multiplication of the list

numbers = [1,2,3,4,5]

output : 120

In [18]:
from functools import reduce
import operator

numbers = [1,2,3,4,5]
result = reduce(operator.mul,numbers)
print(result)

120