#Practic Question-1
Print First 10 natural numbers using For loop

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

#Practice Question-2
for a given list having integer values, odd values should be replace by its square

Example:
  Given list: [2,3,4,3,6,7,9,1,3]
  
  output: [2,9,4,9,6,49,81,1,9]

In [ ]:
num_list= [2,3,4,3,6]
output_list = []

for i in num_list:
  if i%2==0:
    output_list.append(i)
  else:
    output_list.append(i**2)
  
print(output_list)

[2, 9, 4, 9, 6]

# Practice Question-3
For a given list of itmes , count the items present in fruits list

sample input: ['chair','table','mango','banana','book','carrot']

fruits_list : ['apple','mango','cherry','banana','orange']

output:
2

In [ ]:
input_list = ['chair','table','mango','banana','book','carrot']
fruits_list = ['apple','mango','cherry','banana','orange']
count =0
for i in input_list:
  if i in fruits_list:
    count=count+1


print(count)

2

In [ ]:
#using List comprehension
input_list = ['chair','table','mango','banana','book','carrot']
fruits_list = ['apple','mango','cherry','banana','orange']

len([1 for i in input_list if i in fruits_list ])

2

#Loop Example-1
write code to draw left triangle star pattern

![image.png]()

In [1]:
# for loop implementation
n = int(input("Enter the number of row: "))
for i in range(1,n+1):
  print("* "*i)

Enter the number of row: 6
*
* *
* * *
* * * *
* * * * *
* * * * * *

In [2]:
# while loop Implementation
n = int(input("Enter the number of row: "))
i=1
while i<n+1:
  print("* "*i)
  i+=1

Enter the number of row: 6
*
* *
* * *
* * * *
* * * * *
* * * * * *

#Loop example-2
Write a code to draw right triangle star pattern


![image.png]()

In [6]:
n = int(input("Enter the number of row: "))
for i in range(1,n+1):
  print("  "*(n-i) + " *"*i)

Enter the number of row: 5
         *
       * *
     * * *
   * * * *
 * * * * *

#Loop Example-3

Write code to print half diamond pattern

![image.png]()

In [7]:
n = int(input("Enter the number of row: "))
for i in range(1,n+1):
  print(" "*(n-i) + "* "*i)

Enter the number of row: 8
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *

#Loop Example-4
write a code to draw full diamond pattern

![image.png]()

In [8]:
n = int(input("Enter the number of row: "))
for i in range(1,n+1):
  print(" "*(n-i) + "* "*i)
for i in range(n-1,0,-1):
  print(" "*(n-i) +("* "*i))

Enter the number of row: 8
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

# Loop Example - 5
write a code to draw pascal triangle

![image.png]()

In [ ]:
n=6
list1 =[]
for i in range(n):
  temp_list= []
  for j in range(i+1):
    if j==0 or j==i:
      temp_list.append(1)
    else:
      temp_list.append(list1[i-1][j-1] + list1[i-1][j])
    
  list1.append(temp_list)

#print(list1)

for i in range(n):
  for j in range(n-i-1):
    print(" ", end="")
  for j in range(i+1):
    print(list1[i][j],end=" ")
  print()

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1
1 5 10 10 5 1